@import "../base/typography";

.theme-btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.theme-btn {
    width: auto;
    font-weight: $weight-medium;
    border: 2px solid $azure-radiance;
    padding: 0.5rem;
}

.theme-btn:focus {
    background-color: $azure-radiance;
    color: $white;
}

.theme-btn:hover {
    cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .theme-btn-container {
        flex-direction: column;
    }
}