$black: #001A2D;
$science-blue: #0D529C;
$azure-radiance: #007AFF;
$slate-gray: #7C8994;
$loblolly: #C4CCD4;
$porcelain: #F2F4F5;
$white: #FFFFFF;

$sea-green: #2E8B57;
$white-ice: #EBFCF3;
$sweet-corn: #FBE38C;
$buttered-rum: #9F7108;
$crimson: #CE1447;
$carousel-pink: #FBECF3;

$azure-radiance-dark: darken($azure-radiance, 6);
$science-blue-dark: darken($science-blue, 6);